{% extends 'posapp/common/base.html' %}
{% block title %} Add New Product Name {% endblock %}
{% load static %} 
{% block content %}

<div class="portlet-body form">
    <div class="row">
        <div class="portlet light">
            <div class="page_header">
                <div class="page_header_left">Add New Product Name</div>
                <div class="page_header_right">
                    <a href="/settings/product-name-list/">Go to Product Name List</a>
                </div>
            </div>

            <form method="POST">{% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <th>Product Category</th>
                        <td>
                            <select name="cat_name" class="form-control">
                                {% for data in cat_list %}
                                    <option value="{{ data.pk }}"> {{ data.cat_name }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>  
                    <tr>
                        <th>Product Brand</th>
                        <td>
                            <select name="brand_name" class="form-control">
                                {% for data in brand_list %}
                                    <option value="{{ data.pk }}"> {{ data.brand_name }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>  
                    <tr>
                        <th>Product Name</th>
                        <td><input type="text" name="product_name" class="form-control" required/></td>
                    </tr>  
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Add New Product Name" class="btn btn-primary"/></td>
                    </tr>              
                </table>
            </form>

        </div>
    </div>
</div>


{% endblock %}