{% extends 'posapp/common/base.html' %}
{% block title %} Product Category List {% endblock %}
{% load static %} 
{% block content %}

<div class="portlet-body form">
    <div class="row">
        <div class="portlet light">
            <div class="page_header">
                <div class="page_header_left"> Product Category List </div>
                <div class="page_header_right">
                    <a href="/settings/add-product-category/">Add New Category</a>
                </div>
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <table class="table table-bordered">
                <tr>
                    <th class="text-center">SN</th>
                    <th>Category Name</th>
                    <th>Added Date</th>
                    <th>Status</th>
                </tr>
                {% for data in cat_list %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ data.cat_name }}</td>
                        <td>{{ data.added_date|date:"d-M-y" }}</td>
                        <td> {% if data.status %} Acitve {% else %} Inactive {% endif %} </td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>



{% endblock %}