{% extends 'posapp/common/base.html' %}
{% block title %} Year List {% endblock %}
{% load static %} 
{% block content %}

<div class="portlet-body form">
    <div class="row">
        <div class="portlet light">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">SN</th>
                    <th>Year</th>
                    <th>Added Date</th>
                    <th>Status</th>
                </tr>
                {% for data in year_list %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ data.year }}</td>
                        <td>{{ data.added_date|date:"d-M-y" }}</td>
                        <td> {% if data.status %} Acitve {% else %} Inactive {% endif %} </td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>



{% endblock %}