{% extends 'posapp/common/base.html' %}
{% block title %} Product Sales List {% endblock %}
{% load static %} 
{% block content %}


<div class="portlet-body form">
    <div class="row">
        <div class="portlet light">
            <div class="page_header">
                <div class="page_header_left">Product Sales List</div>
                <div class="page_header_right">
                    <a href="/inventory/">Add to Inventory</a>
                </div>
            </div>
            
            <form method="POST">{% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <th>Product Name</th>
                        <td>
                            <select name="product_name" class="form-control">
                                {% for data in product_list %}
                                    <option value="{{ data.pk }}" {% if data.pk == product_name %} selected {% endif %}> {{ data.product_name }} </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="submit" value="Search" class="btn btn-primary"/></td>
                    </tr>
                </table>
            </form>

            <table class="table table-bordered">
                <tr>
                    <th class="text-center">SN</th>
                    <th>Invoice</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Product Name</th>
                    <th class="text-center">Quantity</th>
                    <th>Unit Price</th>
                    <th>Added Date</th>
                    <th>Sales By</th>
                </tr>
                {% for data in sales_list %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ data.sales_invo }}</td>
                        <td>{{ data.product_cat }}</td>
                        <td>{{ data.product_brand }}</td>
                        <td>{{ data.product_name }}</td>
                        <td class="text-center">{{ data.quantity }}</td>
                        <td>
                            {% if request.session.user_county == "USA" %}
                                ${{ data.unit_price }}
                            {% else %}
                                BDT {{ data.unit_price }}
                            {% endif %}   
                        </td>
                        <td>{{ data.sales_date|date:"d-M-y" }}</td>
                        <td> {{ data.sales_by }} </td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>


{% endblock %}