{% extends 'posapp/common/base.html' %}
{% block title %} Sales Order List {% endblock %}
{% load static %} 
{% load mathfilters %}
{% load custom_tags %}
{% block content %}


<div class="portlet-body form">
    <div class="row">
        <div class="portlet light">
            <div class="page_header">
                <div class="page_header_left">Sales Order List</div>
                <div class="page_header_right">
                    <a href="/inventory/">Go to Inventory</a>
                </div>
            </div>
            
            <form method="POST">{% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <th>Invoice Number</th>
                        <td>
                            <select name="sales_invo" class="form-control">
                                {% for data in invoice_list %}
                                    <option value="{{ data.sales_invo }}" {% if data.sales_invo == sales_invo %} selected {% endif %}> {{ data.sales_invo }} </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="submit" value="Search" class="btn btn-primary"/></td>
                    </tr>
                </table>
            </form>

            <table class="table table-bordered">
                <tr> 
                    <th>Invoice</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Product Name</th>
                    <th class="text-center">Quantity</th>
                    <th>Unit Price</th>
                    <th>Vat</th>
                    <th>Unit Total Price</th>
                    <th>Added Date</th>
                    <th>Sales By</th> 
                </tr>
                {% regroup sales_list by sales_invo as sales_order %} 
                {% for group in sales_order %}
                    <tr> 
                        <td rowspan="{{ group.list|length|add:2 }}" style="vertical-align: middle;">{{ group.grouper }}</td>
                        {% for data in group.list %}
                            <tr>
                                <td>{{ data.product_cat }}</td>
                                <td>{{ data.product_brand }}</td>
                                <td>{{ data.product_name }}</td>
                                <td class="text-center">{{ data.quantity }}</td>
                                <td>
                                    {% if request.session.user_country == "USA" %}
                                        ${{ data.unit_price }}
                                    {% else %}
                                        BDT {{ data.unit_price }}
                                    {% endif %}   
                                </td>
                                <td>
                                    {% if request.session.user_country == "USA" %}
                                        ${{ data.total_vat }}
                                    {% else %}
                                        BDT {{ data.total_vat }}
                                    {% endif %}   
                                </td>
                                <td>
                                    {% if request.session.user_country == "USA" %}
                                        ${{ data.unit_price|mul:data.quantity|add:data.total_vat }}
                                    {% else %}
                                        BDT {{ data.unit_price|mul:data.quantity|add:data.total_vat }}
                                    {% endif %}   
                                </td> 
                                <td>{{ data.sales_date|date:"d-M-y" }}</td>
                                <td> {{ data.sales_by }} </td>
                            </tr>
                        {% endfor %}
                    </tr> 
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <th colspan="2">Total Discount: {{ group.grouper|get_total_discount }} </th>
                        <td></td>
                        <th>Grand Total: {{ group.grouper|invoice_wise_grand_total }}</th>
                        <td><a href="/{{ group.grouper }}/confirm-sales-order/" style="border: 1px solid gray; padding:5px;">Confirm Order</a></td>
                        <td>
                            <a href="/{{ group.grouper }}/cancel-sales-order/" onclick="return confirm('Are you sure cancel this order?')" style="border: 1px solid gray; padding:5px;">Cancel Order</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>


{% endblock %}